# ──────────────── INFRASTRUCTURE ────────────────

# Azure OpenAI Credentials
XENSQL_LLM_PRIMARY_API_KEY="insert_primary_azure_api_key_here"
XENSQL_LLM_FALLBACK_API_KEY="insert_fallback_azure_api_key_here"
XENSQL_EMBEDDING_AZURE_API_KEY="insert_embedding_azure_api_key_here"

# Neo4j Cloud (Knowledge Graph)
XENSQL_NEO4J_URI="neo4j+s://5ddec823.databases.neo4j.io"
XENSQL_NEO4J_USER="5ddec823"
XENSQL_NEO4J_PASSWORD="insert_neo4j_password_here"

# Aiven Postgres Cloud (pgvector)
XENSQL_PGVECTOR_DSN="insert_pgvector_conn_string_here"
